                                     ## ASSIGNMENT-1
                                    ### WEB SCRAPING
In all the following questions, you have to use BeautifulSoup to scrape different websites and collect data as per
the requirement of the question.
Every answer to the question should be in form of a python function which should take URL as the parameter.
Use Jupyter Notebooks to program, upload it on your GitHub and send the link of the Jupyter notebook to
your SME.

In [1]:
# 1) Write a python program to display all the header tags from wikipedia.org.

from urllib.request import urlopen
from bs4 import BeautifulSoup

html = urlopen('https://en.wikipedia.org/wiki/Main_Page')
bs = BeautifulSoup(html, "html.parser")
titles = bs.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>

In [2]:
# 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.


from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
 
    
Page = requests.get ('http://www.imdb.com/chart/top')



soup = BeautifulSoup(Page.text, "html.parser")
          
movies = soup.select('td.titleColumn')

ratings = [b.attrs.get('data-value')
        for b in soup.select('td.posterColumn span[name=ir]')]


list = []
 

for movie in list:
    print(movie['place'], '-', movie['movie_title'], '('+movie['year'] +
        ') -', movie['rating'])

    
df = pd.DataFrame(list)

for index in range(0, len(movies)):
     

    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"Rank": place,
            "Name of Movie": movie_title,
            "Ratings": ratings[index],
            "Year": year,}
            
    list.append(data)
    


df = pd.DataFrame(list)

df.head(100)

   Rank                      Name of Movie            Ratings  Year
0     1           The Shawshank Redemption  9.234908068548295  1994
1     2                      The Godfather  9.156212618407485  1972
2     3                    The Dark Knight   8.98869097277759  2008
3     4              The Godfather Part II  8.984180062381316  1974
4     5                       12 Angry Men  8.950380690167343  1957
..  ...                                ...                ...   ...
95   96                 Lawrence of Arabia   8.25394420868137  1962
96   97  M - Eine Stadt sucht einen Mörder  8.253266899208677  1931
97   98                       Idi i smotri  8.251719496864853  1985
98   99                 North by Northwest    8.2496548388162  1959
99   10                            Vertigo  8.246038504257763  1958

[100 rows x 4 columns]

In [3]:
# 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.


from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
 
    
Page = requests.get ('https://www.imdb.com/india/top-rated-indian-movies/')

soup = BeautifulSoup(Page.text, "html.parser")
          
movies = soup.select('td.titleColumn')

ratings = [b.attrs.get('data-value')
        for b in soup.select('td.posterColumn span[name=ir]')]


list = []
 

for movie in list:
    print(movie['place'], '-', movie['movie_title'], '('+movie['year'] +
        ') -', movie['rating'])

    
df = pd.DataFrame(list)

for index in range(0, len(movies)):
     

    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"Rank": place,
            "Name of Movie": movie_title,
            "Ratings": ratings[index],
            "Year": year,}
            
    list.append(data)
    


df = pd.DataFrame(list)

df.head(100)

   Rank                        Name of Movie            Ratings  Year
0     1                              Kantara  8.541837070637396  2022
1     2  Ramayana: The Legend of Prince Rama  8.496214736122745  1993
2     3           Rocketry: The Nambi Effect  8.436331681265633  2022
3     4                              Nayakan  8.398451283444816  1987
4     5                           Anbe Sivam  8.398258016827713  2003
..  ...                                  ...                ...   ...
95   96                          Ustad Hotel  8.021902519848547  2012
96   97             Theeran Adhigaaram Ondru   8.02019294891196  2017
97   98                      Rang De Basanti  8.018232400141432  2006
98   99          Baahubali 2: The Conclusion  8.016491994200805  2017
99   10                               Angoor  8.014613075143812  1982

[100 rows x 4 columns]

In [4]:
# 4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm


from bs4 import BeautifulSoup as BS
import requests as R

page = R.get('https://presidentofindia.nic.in/former-presidents.htm')

soup = BS (page.content)

Title = []

for a in soup.find_all('h3'):
    Title.append(a.text)

Term = []

for i in soup.find_all('div', class_ = 'presidentListing'):
    Term.append (i.text.split(':')[1])
Term = [item.strip() for item in Term if str(item)]
    
import pandas as pd

df = pd.DataFrame ({'Name of President':Title, 'Term of Office':Term})
df

,Name of President,Term of Office
0,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022 \nhttps"
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017 \nhttp"
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012 \nhttp"
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007 \nhttp"
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 19..."
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

In [5]:
# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.


import requests
from bs4 import BeautifulSoup
import pandas as pd

page=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

soup = BeautifulSoup(page.content)

Country = []
for i in soup.find_all('span',class_='u-hide-phablet'):
    Country.append(i.text)


Matches = []
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    Matches.append(i.text.split(',')[0])
del Matches [1::2]
Matches.insert (0,27)

    
Points = []
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    Points.append(i.text)
Points
del Points [0::2]
Points.insert (0,3226)

    
Rating = []
for i in soup.find_all('td',class_= 'table-body__cell u-text-right rating'):
    Rating.append(i.text)
Rating.insert (0,119)

    

df = pd.DataFrame ({'Country': Country, 'Matches Played': Matches,'Points': Points ,'Rank': Rating})
df.head (10)

        Country Matches Played Points Rank
0       England             27   3226  119
1   New Zealand             22  2,508  114
2         India             34  3,802  112
3      Pakistan             22  2,354  107
4     Australia             29  3,071  106
5  South Africa             24  2,392  100
6    Bangladesh             30  2,753   92
7     Sri Lanka             29  2,658   92
8   West Indies             41  2,902   71
9   Afghanistan             18  1,238   69

In [6]:
# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# b) Top 10 ODI Batsmen along with the records of their team and rating.


import requests
from bs4 import BeautifulSoup
import pandas as pd

page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

soup = BeautifulSoup(page.content)

Rank = []

for i in soup.find_all('span', class_ = 'rankings-table__pos-number'):
    Rank.append(i.text)
    
Rank = [item.strip() for item in Rank if str(item)]
Rank.insert (0,'1')

Name = []

for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    Name.append(i.text)
Name = [item.strip() for item in Name if str(item)]
Name.insert (0,'Babar Azam')

Country = []

for i in soup.find_all('span', class_ = 'table-body__logo-text'):
    Country.append(i.text)
Country.insert (0, 'PAK')

Rating = []

for i in soup.find_all('td', class_= 'table-body__cell rating'):
    Rating.append(i.text)
Rating.insert (0,'890')
Rating

df = pd.DataFrame ({'Rank': Rank, 'Name of the Player': Name, 'Country': Country, 'Rating': Rating})
df.head(10)

  Rank     Name of the Player Country Rating
0    1             Babar Azam     PAK    890
1    2            Imam-ul-Haq     PAK    779
2    3  Rassie van der Dussen      SA    766
3    4        Quinton de Kock      SA    759
4    5         Jonny Bairstow     ENG    732
5    6           David Warner     AUS    725
6    7            Virat Kohli     IND    722
7    8           Rohit Sharma     IND    718
8    9            Ross Taylor      NZ    701
9   10            Steve Smith     AUS    697

In [7]:
# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# c) Top 10 ODI bowlers along with the records of their team and rating.


import requests
from bs4 import BeautifulSoup
import pandas as pd

page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

soup = BeautifulSoup(page.content)

Rank = []

for i in soup.find_all('span', class_ = 'rankings-table__pos-number'):
    Rank.append(i.text)
    
Rank = [item.strip() for item in Rank if str(item)]
Rank.insert (0,'1')

Name = []

for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    Name.append(i.text)
Name = [item.strip() for item in Name if str(item)]
Name.insert (0,'Trent Boult')

Country = []

for i in soup.find_all('span', class_ = 'table-body__logo-text'):
    Country.append(i.text)
Country.insert (0, 'NZ')

Rating = []

for i in soup.find_all('td', class_= 'table-body__cell rating'):
    Rating.append(i.text)
Rating.insert (0,'775')
Rating

df = pd.DataFrame ({'Rank': Rank, 'Name of the Player': Name, 'Country': Country, 'Rating': Rating})
df.head (10)

  Rank Name of the Player Country Rating
0    1        Trent Boult      NZ    775
1    2     Josh Hazlewood     AUS    718
2    3   Mujeeb Ur Rahman     AFG    676
3    4     Shaheen Afridi     PAK    661
4    5      Mohammad Nabi     AFG    657
5    6       Mehedi Hasan     BAN    655
6    7         Matt Henry      NZ    654
7    8     Mitchell Starc     AUS    653
8    9        Rashid Khan     AFG    651
9   10     Jasprit Bumrah     IND    642

In [8]:
# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.


import requests
from bs4 import BeautifulSoup
import pandas as pd

page=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

soup = BeautifulSoup(page.content)

Country = []
for i in soup.find_all('span',class_='u-hide-phablet'):
    Country.append(i.text)


Matches = []
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    Matches.append(i.text.split(',')[0])
del Matches [1::2]
Matches.insert (0,18)

    
Points = []
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    Points.append(i.text)
Points
del Points [0::2]
Points.insert (0,3061)

    
Rating = []
for i in soup.find_all('td',class_= 'table-body__cell u-text-right rating'):
    Rating.append(i.text)
Rating.insert (0,170)

    

df = pd.DataFrame ({'Country': Country, 'Matches Played': Matches,'Points': Points ,'Rank': Rating})
df.head (10)

        Country Matches Played Points Rank
0     Australia             18   3061  170
1  South Africa             26  3,098  119
2       England             25  2,904  116
3         India             27  2,820  104
4   New Zealand             24  2,425  101
5   West Indies             24  2,334   97
6    Bangladesh             12    932   78
7      Pakistan             21  1,237   59
8       Ireland             11    516   47
9     Sri Lanka              8    353   44

In [9]:
# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# b) Top 10 women’s ODI Batting players along with the records of their team and rating.


import requests
from bs4 import BeautifulSoup
import pandas as pd

page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

soup = BeautifulSoup(page.content)

Rank = []

for i in soup.find_all('span', class_ = 'rankings-table__pos-number'):
    Rank.append(i.text)
    
Rank = [item.strip() for item in Rank if str(item)]
Rank.insert (0,'1')

Name = []

for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    Name.append(i.text)
Name = [item.strip() for item in Name if str(item)]
Name.insert (0,'Alyssa Healy')

Country = []

for i in soup.find_all('span', class_ = 'table-body__logo-text'):
    Country.append(i.text)
Country.insert (0, 'AUS')

Rating = []

for i in soup.find_all('td', class_= 'table-body__cell rating'):
    Rating.append(i.text)
Rating.insert (0,'785')
Rating

df = pd.DataFrame ({'Rank': Rank, 'Name of the Player': Name, 'Country': Country, 'Rating': Rating})
df.head(10)

  Rank   Name of the Player Country Rating
0    1         Alyssa Healy     AUS    785
1    2          Beth Mooney     AUS    749
2    3      Laura Wolvaardt      SA    732
3    4       Natalie Sciver     ENG    725
4    5     Harmanpreet Kaur     IND    716
5    6      Smriti Mandhana     IND    714
6    7          Meg Lanning     AUS    710
7    8       Rachael Haynes     AUS    701
8    9    Amy Satterthwaite      NZ    661
9   10  Chamari Athapaththu      SL    655

In [10]:
# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
# c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

import requests
from bs4 import BeautifulSoup
import pandas as pd

page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling')

soup = BeautifulSoup(page.content)

Rank = []

for i in soup.find_all('span', class_ = 'rankings-table__pos-number'):
    Rank.append(i.text)
    
Rank = [item.strip() for item in Rank if str(item)]
Rank.insert (0,'1')

Name = []

for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    Name.append(i.text)
Name = [item.strip() for item in Name if str(item)]
Name.insert (0,'Sophie Ecclestone')

Country = []

for i in soup.find_all('span', class_ = 'table-body__logo-text'):
    Country.append(i.text)
Country.insert (0, 'ENG')

Rating = []

for i in soup.find_all('td', class_= 'table-body__cell rating'):
    Rating.append(i.text)
Rating.insert (0,'739')
Rating

df = pd.DataFrame ({'Rank': Rank, 'Name of the Player': Name, 'Country': Country, 'Rating': Rating})
df.head(10)

  Rank   Name of the Player Country Rating
0    1    Sophie Ecclestone     ENG    739
1    2        Jess Jonassen     AUS    725
2    3         Megan Schutt     AUS    722
3    4       Shabnim Ismail      SA    722
4    5       Jhulan Goswami     IND    698
5    6      Hayley Matthews      WI    671
6    7           Kate Cross     ENG    657
7    8       Ayabonga Khaka      SA    634
8    9  Rajeshwari Gayakwad     IND    617
9   10       Marizanne Kapp      SA    598

In [11]:
# 7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
# i) Headline
# ii) Time
# iii) News Link

from bs4 import BeautifulSoup as BS
import requests as R
import pandas as pd

page = R.get ('https://www.cnbc.com/world/?region=world')

soup = BS (page.content)

Headlines  = []
    
for i in soup.find_all('a', class_= 'LatestNews-headline'):
    Headlines.append(i.text)

Time = []

for i in soup.find_all('span', class_ = 'LatestNews-wrapper'):
    Time.append(i.text)

Link = []

for i in soup.find_all('a', class_ = 'LatestNews-headline'):
    Link.append(i.get('href'))
Link

df = pd.DataFrame({'Headline': Headlines, 'Time': Time, 'News Link': Link})
df

,Headline,Time,News Link
0,Pelosi says her family is 'heartbroken and tra...,2 Hours Ago,https://www.cnbc.com/2022/10/30/nancy-pelosi-s...
1,Russia halts participation in an agreement to ...,12 Hours Ago,https://www.cnbc.com/2022/10/29/russia-halts-p...
2,Brooklyn Nets condemn Kyrie Irving for promoti...,13 Hours Ago,https://www.cnbc.com/2022/10/29/brooklyn-nets-...
3,"These dads drove cross country, raised $156,00...",13 Hours Ago,https://www.cnbc.com/2022/10/29/dads-road-trip...
4,How 'The 5 Love Languages' stays relevant 30 y...,14 Hours Ago,https://www.cnbc.com/2022/10/29/how-the-5-love...
5,I raised 2 successful CEOs and a doctor. Here'...,14 Hours Ago,https://www.cnbc.com/2022/10/29/i-raised-2-suc...
6,Here's a look at some legal and personal ramif...,15 Hours Ago,https://www.cnbc.com/2022/10/29/here-are-the-l...
7,Issa Rae shares her best career advice and how...,15 Hours Ago,https://www.cnbc.com/2022/10/29/issa-rae-share...
8,These people are making real money in Horizon ...,15 Hours Ago,https://www.cnbc.com/2022/10/29/metaverse-entr...
9,"What 'millionaire tax' plans on California, Ma...",15 Hours Ago,https://www.cnbc.com/2022/10/29/what-millionai...
10,A 35-year-old cult classic from John Carpenter...,15 Hours Ago,https://www.cnbc.com/2022/10/29/john-carpenter...
11,"From Chipotle to Wendy’s, here are 7 places to...",15 Hours Ago,https://www.cnbc.com/2022/10/29/where-to-score...
12,Twitter is now owned by Elon Musk — here's a b...,16 Hours Ago,https://www.cnbc.com/2022/10/29/a-brief-histor...
13,The market is moving in-line with seasonal pat...,17 Hours Ago,https://www.cnbc.com/2022/10/29/the-market-is-...
14,Stocks reporting earnings in the week ahead th...,17 Hours Ago,https://www.cnbc.com/2022/10/29/earnings-resul...
15,Goldman Sachs analysts say these are the best ...,17 Hours Ago,https://www.cnbc.com/2022/10/29/goldman-sachs-...
16,Derek and Hannah Jeter sign multiyear deal wit...,"October 28, 2022",https://www.cnbc.com/2022/10/28/derek-jeter-pr...
17,Cramer on Friday named travel as one of five r...,"October 28, 2022",https://www.cnbc.com/2022/10/28/jim-cramer-say...
18,Cramer's lightning round: Let's stay with Fron...,"October 28, 2022",https://www.cnbc.com/2022/10/28/cramers-lightn...
19,Cramer's week ahead: There could be 'real sign...,"October 28, 2022",https://www.cnbc.com/2022/10/28/cramers-week-a...
20,Co-defendant in SEC civil fraud suit against f...,"October 28, 2022",https://www.cnbc.com/2022/10/28/fake-billionai...
21,"UN details horrifying accounts of rape, tortur...","October 28, 2022",https://www.cnbc.com/2022/10/28/russia-ukraine...
22,Stocks shrug off tech's troubles as Street awa...,"October 28, 2022",https://www.cnbc.com/2022/10/28/stocks-shrugge...
23,Pro Picks: Watch all of Friday's big stock cal...,"October 28, 2022",https://www.cnbc.com/2022/10/28/pro-picks-watc...
24,GM temporarily suspends advertising on Twitter...,"October 28, 2022",https://www.cnbc.com/2022/10/28/gm-temporarily...
25,Big Tech falters on dreary earnings — Meta has...,"October 28, 2022",https://www.cnbc.com/2022/10/28/big-tech-falte...
26,93% of daters want a partner who is emotionall...,"October 28, 2022",https://www.cnbc.com/2022/10/28/how-to-be-emot...
27,Omicron subvariants resistant to key antibody ...,"October 28, 2022",https://www.cnbc.com/2022/10/28/omicron-subvar...
28,Jeep parent Stellantis offering buyouts to som...,"October 28, 2022",https://www.cnbc.com/2022/10/28/chrysler-owner...
29,Musk plans Twitter content moderation council ...,"October 28, 2022",https://www.cnbc.com/2022/10/28/musk-plans-twi...

In [12]:
# 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days. 
# https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
# Scrape below mentioned details :
# i) Paper Title 
# ii) Authors
# iii) Published Date 
# iv) Paper URL


from bs4 import BeautifulSoup as BS
import requests as R
import pandas as pd

page = R.get ('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')


soup = BS (page.content)
Title = []

for i in soup.find_all('h2',class_='sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR'):
    Title.append(i.text)
    
Authors= []

for i in soup.find_all('span', class_ = 'sc-1w3fpd7-0 pgLAT'):
    Authors.append(i.text)
    
Date = []

for i in soup.find_all('span', class_= 'sc-1thf9ly-2 bKddwo'):
    Date.append(i.text)

URL = []

for i in soup.find_all('a', class_ = 'sc-5smygv-0 nrDZj'):
    URL.append(i.get('href'))
    
df = pd.DataFrame ({'Paper Title': Title, 'Authors': Authors, 'Published Date': Date, 'Paper URL':URL})
df

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

In [13]:
# 9) Write a python program to scrape mentioned details from dineout.co.in :
# i) Restaurant name
# ii) Cuisine
# iii) Location 
# iv) Ratings
# v) Image URL


from bs4 import BeautifulSoup as BS
import requests as R
import pandas as pd

page = R.get ('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup = BS (page.content)

Name = []

for i in soup.find_all('a', class_= 'restnt-name ellipsis'):
    Name.append(i.text)

Cuisine = []

for i in soup.find_all('span', class_='double-line-ellipsis'):
    Cuisine.append(i.text.split('|')[1])
    
Location = []

for i in soup.find_all('div', class_= 'restnt-loc ellipsis'):
    Location.append(i.text)
    

Ratings = []

for i in soup.find_all('div', class_ = 'restnt-rating rating-4'):
    Ratings.append(i.text)
    
    
Image = []

for i in soup.find_all('img', class_='no-img'):
    Image.append(i.get('data-src'))
    
df = pd.DataFrame ({'Name of Restaurant': Name, 'Cuisine': Cuisine, 'Location': Location, 'Ratings':Ratings, 'URL of Image':Image })
df

,Name of Restaurant,Cuisine,Location,Ratings,URL of Image
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.6,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

In [14]:
# 10) Write a python program to scrape the details of top publications from Google Scholar from 
#https://scholar.google.com/citations?view_op=top_venues&hl=en
# i) Rank 
# ii) Publication
# iii) h5-index
# iv) h5-median
 

from bs4 import BeautifulSoup as BS
import requests as R
import pandas as pd

page = R.get ('https://scholar.google.com/citations?view_op=top_venues&hl=en')

soup = BS (page.content)

Rank = []

for i in soup.find_all('td', class_= 'gsc_mvt_p'):
    Rank.append(i.text)

    
Publication = []

for i in soup.find_all('td', class_ = 'gsc_mvt_t'):
    Publication.append(i.text)

h5_index = []

for i in soup.find_all('td', class_ = 'gsc_mvt_n'):
    h5_index.append(i.text)
del h5_index [1::2]

h5_median = []

for i in soup.find_all('td', class_ = 'gsc_mvt_n'):
    h5_median.append(i.text)
del h5_median [0::2]

df = pd.DataFrame ({'Rank': Rank, 'Publication':Publication, 'h5_index': h5_index, 'h5_median':h5_median})
df

    Rank                                        Publication h5_index h5_median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]