# WEB SCRAPING – ASSIGNMENT 4

- **Read all the problem statements, notes carefully and scrape the required data using any web scraping tool of your choice.**
- **You have to handle commonly occurring EXCEPTIONS by using exception handling programing. To get information about       selenium Exceptions. You may visit following links:**
    
1. https://selenium-python.readthedocs.io/api.html
2. https://www.guru99.com/exception-handling-selenium.html
3. https://stackoverflow.com/questions/38022658/selenium-python-handling-no-such-element-exception/38023345

### Importing all required liabraries

In [2]:
import selenium
import pandas as pd
from selenium import webdriver

from bs4 import BeautifulSoup
import requests
from selenium.webdriver.common.by import By

import time

from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException

from selenium.webdriver.support.ui import WebDriverWait

import re

import warnings
warnings.filterwarnings('ignore')

### 1. Scrape the details of most viewed videos on YouTube from Wikipedia.

#### Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
#### You need to find following details:
#### A) Rank
#### B) Name
#### C) Artist
#### D) Upload date
#### E) Views

In [2]:
# Connecting to webdriver
driver = webdriver.Chrome(r'C:\FLIP ROBO\Crome Driver\chromedriver.exe')

# getting the webpage of mentioned url
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

# Maximizing our window
driver.maximize_window()

In [14]:
# As available information is available in second table of available sheet searching for the same
table = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
df_table = pd.read_html(table)

In [4]:
# Finally geeting information and converting web table to DataFrame
A = df_table [1]  # taken [1] as there are 2 tables on the page and our data is on second table

# Sorting required columns
A_columns = ['No.', 'Video name', 'Uploader', 'Views (billions)', 'Publication date']

# Making copy of our original data frame
A = A [A_columns].copy()

# Renaming columns as per above question

Youtube = A.rename ({'No.':'Rank', 'Video name':'Name', 'Uploader':'Artist', 
                     'Views (billions)': 'Views', 'Publication date':'Upload date'}, axis = 1)

# Removing unnecessary numbers from name columns
Youtube.Name = Youtube.Name.apply(lambda x:x[:-4].strip('"'))

In [5]:
# As now data frame is create with our required columns, need to view this.
# also removed last row as its was not related

Youtube.head(29)

,Rank,Name,Artist,Views,Upload date
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,11.74,"June 17, 2016"
1,2.,Despacito,Luis Fonsi,8.01,"January 12, 2017"
2,3.,Johny Johny Yes Papa,LooLoo Kids,6.53,"October 8, 2016"
3,4.,Shape of You,Ed Sheeran,5.85,"January 30, 2017"
4,5.,Bath Song,Cocomelon – Nursery Rhymes,5.77,"May 2, 2018"
5,6.,See You Again,Wiz Khalifa,5.70,"April 6, 2015"
6,7.,Phonics Song with Two Words,ChuChu TV,5.02,"March 6, 2014"
7,8.,Uptown Funk,Mark Ronson,4.76,"November 19, 2014"
8,9.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,4.73,"February 27, 2018"
9,10.,Wheels on the Bus,Cocomelon – Nursery Rhymes,4.63,"May 24, 2018"
10,11.,Gangnam Style,Psy,4.61,"July 15, 2012"
11,12.,Masha and the Bear – Recipe for Disaster,Get Movies,4.51,"January 31, 2012"
12,13.,Dame Tu Cosita,El Chombo,4.14,"April 5, 2018"
13,14.,Sugar,Maroon 5,3.78,"January 14, 2015"
14,15.,Roar,Katy Perry,3.69,"September 5, 2013"
15,16.,Counting Stars,OneRepublic,3.68,"May 31, 2013"
16,17.,Axel F,Crazy Frog,3.61,"June 16, 2009"
17,18.,Sorry,Justin Bieber,3.61,"October 22, 2015"
18,19.,Thinking Out Loud,Ed Sheeran,3.52,"October 7, 2014"
19,20.,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,3.43,"June 25, 2018"
20,21.,Dark Horse,Katy Perry,3.40,"February 20, 2014"
21,22.,Faded,Alan Walker,3.37,"December 3, 2015"
22,23.,Girls Like You,Maroon 5,3.35,"May 31, 2018"
23,24.,Let Her Go,Passenger,3.34,"July 25, 2012"
24,25.,Waka Waka (This Time for Africa),Shakira,3.31,"June 4, 2010"
25,26.,Perfect,Ed Sheeran,3.30,"November 9, 2017"
26,27.,Bailando,Enrique Iglesias,3.30,"April 11, 2014"
27,28.,Lean On,Major Lazer,3.29,"March 22, 2015"
28,29.,Humpty the train on a fruits ride,Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.23,"January 26, 2018"

In [6]:
# Closing the webdriver
driver.close()

### 2. Scrape the details team India’s international fixtures from bcci.tv.
#### Url = https://www.bcci.tv/.
#### You need to find following details:
#### A) Match title (I.e. 1st ODI)
#### B) Series
#### C) Place
#### D) Date
#### E) Time
#### Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [2]:
# Connecting to webdriver
driver = webdriver.Chrome(r'C:\FLIP ROBO\Crome Driver\chromedriver.exe')

# getting the webpage of mentioned url
url = 'https://www.bcci.tv/'
driver.get(url)

# Maximizing our window
driver.maximize_window()

In [3]:
Int = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a').click()

In [5]:
#Creating Empty List
Name = []
Series = []
Place = []
Date = []
Time = []

#Scrapping Name, also using try and excpet function
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
        Name.append(i.text.replace('-',""))
except NoSuchElementException:
    Name.append('-')

#Scrapping Series also using try and excpet functio
try:
    
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')
    
#scrapping Place also using try and excpet functio
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')
    
#Scrapping Date also using try and excpet functio
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]'):
        Date.append(i.text)
        
except NoSuchElementException:
    Date.append('-')
    
#Scrapping Time also using try and excpet functio
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]'):
        Time.append(i.text.replace('IST',""))
        
except NoSuchElementException:
    Time.append('-')

In [6]:
    
# Creating extracted information intodataframe

Int_Fixtures=pd.DataFrame({})

Int_Fixtures['Match Title']=Name[2:12]
Int_Fixtures['Series']=Series[0:8]
Int_Fixtures['Place']=Place[4:12]
Int_Fixtures['Date']=Date[0:8]
Int_Fixtures['Time']=Time[0:8]
Int_Fixtures

,Match Title,Series,Place,Date,Time
0,1st T20I,INDIA A IN BANGLADESH MULTI DAY SERIES,"Shere Bangla National Stadium, Mirpur,",6 DEC 2022,7:00 PM
1,3rd ODI,India A Trail By 57 Runs,"DY Patil Stadium,",7 DEC 2022,11:30 AM
2,2nd T20I,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,"Zahur Ahmed Chowdhury Stadium,",9 DEC 2022,7:00 PM
3,1st Test,Bangladesh won the Toss and elected to bat,"DY Patil Stadium,",10 DEC 2022,9:30 AM
4,3rd T20I,AUSTRALIA WOMEN TOUR OF INDIA 2022,"Zahur Ahmed Chowdhury Stadium,",11 DEC 2022,7:00 PM
5,4th T20I,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,"Brabourne - CCI,",14 DEC 2022,7:00 PM
6,5th T20I,AUSTRALIA WOMEN TOUR OF INDIA 2022,"Brabourne - CCI,",14 DEC 2022,7:00 PM
7,2nd Test,INDIA TOUR OF BANGLADESH TEST SERIES 2022-23,"Brabourne - CCI,",17 DEC 2022,9:30 AM

### 3. Scrape the details of selenium exception from guru99.com.
#### Url = https://www.guru99.com/
#### You need to find following details:
#### A) Name
#### B) Description
#### Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [3]:
# Connecting to webdriver
driver = webdriver.Chrome(r'C:\FLIP ROBO\Crome Driver\chromedriver.exe')

# getting the webpage of mentioned url
url = "https://www.guru99.com/"
driver.get(url)

# Maximizing our window
driver.maximize_window()

In [4]:
#serch button click

search_loc = driver.find_element (By.XPATH, '//*[@id="main-header"]/div/div/div/div/div/div/div/div[2]/div[2]').click()

time.sleep(3)

In [5]:
search = driver.find_element(By.CLASS_NAME , "search-field")

search.send_keys("selenium exception")

search_button = driver.find_element (By.CLASS_NAME, "search-submit")

search_button.click()

time.sleep(3)

In [8]:
    SEL_EXCEP = driver.find_element(By.XPATH,'//*[@id="___gcse_0"]/div/div/div/div[5]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]').click()

In [16]:
# Scrapping name 
name = []
n_name = driver.find_elements (By.TAG_NAME, 'strong')
for i in n_name[2:43]:
    name.append(i.text.split('.')[1])

# Scarapping description

description = []

n_desc = driver.find_elements (By.TAG_NAME, 'p')
for i in n_desc[2:43]:
    description.append(i.text.split(':')[1])

In [17]:
Selenium_Exception =pd.DataFrame({})
Selenium_Exception['Name']=name
Selenium_Exception['Description']=description
Selenium_Exception

,Name,Description
0,ElementNotVisibleException:,This type of Selenium exception occurs when a...
1,ElementNotSelectableException:,This Selenium exception occurs when an elemen...
2,NoSuchElementException:,This Exception occurs if an element could not...
3,NoSuchFrameException:,This Exception occurs if the frame target to ...
4,NoAlertPresentException:,This Exception occurs when you switch to no p...
5,NoSuchWindowException:,This Exception occurs if the window target to...
6,StaleElementReferenceException:,This Selenium exception occurs happens when t...
7,SessionNotFoundException:,The WebDriver is acting after you quit the br...
8,TimeoutException:,Thrown when there is not enough time for a co...
9,WebDriverException:,This Exception takes place when the WebDriver...
10,ConnectionClosedException:,This type of Exception takes place when there...
11,ElementClickInterceptedException:,The command may not be completed as the eleme...
12,ElementNotInteractableException:,This Selenium exception is thrown when any el...
13,ErrorInResponseException:,This happens while interacting with the Firef...
14,ErrorHandler,Exception is used as a placeholder in case if...
15,ImeActivationFailedException:,This expectation will occur when IME engine a...
16,ImeNotAvailableException:,It takes place when IME support is unavailable.
17,InsecureCertificateException:,Navigation made the user agent to hit a certi...
18,InvalidArgumentException:,It occurs when an argument does not belong to...
19,InvalidCookieDomainException:,This happens when you try to add a cookie und...
20,InvalidCoordinatesException:,This type of Exception matches an interacting...
21,InvalidElementStateException:,It occurs when command can’t be finished when...
22,InvalidSessionIdException:,This Exception took place when the given sess...
23,InvalidSwitchToTargetException:,This occurs when the frame or window target t...
24,JavascriptException:,This issue occurs while executing JavaScript ...
25,JsonException:,It occurs when you afford to get the session ...
26,NoSuchAttributeException:,This kind of Exception occurs when the attrib...
27,MoveTargetOutOfBoundsException:,It takes place if the target provided to the ...
28,NoSuchContextException:,ContextAware does mobile device testing.
29,NoSuchCookieException:,This Exception occurs when no cookie matching...
30,NotFoundException:,This Exception is a subclass of WebDriverExce...
31,RemoteDriverServerException:,This Selenium exception is thrown when the se...
32,ScreenshotException:,It is not possible to capture a screen.
33,SessionNotCreatedException:,It happens when a new session could not be su...
34,UnableToSetCookieException:,This occurs if a driver is unable to set a co...
35,UnexpectedTagNameException:,Happens if a support class did not get a web ...
36,UnhandledAlertException:,This expectation occurs when there is an aler...
37,UnexpectedAlertPresentException:,It occurs when there is the appearance of an ...
38,UnknownMethodException:,This Exception happens when the requested com...
39,UnreachableBrowserException:,This Exception occurs only when the browser i...
40,UnsupportedCommandException:,This occurs when remote WebDriver doesn’t sen...

### 4. Scrape the details of State-wise GDP of India from statisticstime.com.
#### Url = http://statisticstimes.com/
#### You have to find following details:
#### A) Rank
#### B) State
#### C) GSDP(18-19)- at current prices
#### D) GSDP(19-20)- at current prices
#### E) Share(18-19)
#### F) GDP ($ billion)
#### Note: - From statisticstimes home page you have to reach to economy page through code.**

In [29]:
# Connecting to webdriver
driver = webdriver.Chrome(r'C:\FLIP ROBO\Crome Driver\chromedriver.exe')

# getting the webpage of mentioned url
url = "http://statisticstimes.com/"
driver.get(url)

# Maximizing our window
driver.maximize_window()

In [30]:
# Clicking on Economy

Economy = driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]').click()

In [31]:
# Clicking on country

Country = driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/div/a[3]').click()

In [33]:
# Clicking on GDP states

GDP_States = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]').click()

In [34]:
# Finding table in webpage

table = 'https://www.statisticstimes.com/economy/india/indian-states-gdp.php'
df_table = pd.read_html(table)

In [35]:
#checking table postion and coverting it to dataframe
# Finally geeting information and converting web table to DataFrame
A = df_table [1]  # taken [1] as there are 2 tables on the page and our data is on second table

A

    Rank                      State GSDP (Cr INR at Current prices)            \
    Rank                      State                           19-20     18-19
0    1.0                Maharashtra                               -   2632792
1    2.0                 Tamil Nadu                         1845853   1630208
2    3.0              Uttar Pradesh                         1687818   1584764
3    4.0                    Gujarat                               -   1502899
4    5.0                  Karnataka                         1631977   1493127
5    6.0                West Bengal                         1253832   1089898
6    7.0                  Rajasthan                         1020989    942586
7    8.0             Andhra Pradesh                          972782    862957
8    9.0                  Telangana                          969604    861031
9   10.0             Madhya Pradesh                          906672    809592
10  11.0                     Kerala                               -    781653
11  12.0                      Delhi                          856112    774870
12  13.0                    Haryana                          831610    734163
13  14.0                      Bihar                          611804    530363
14  15.0                     Punjab                          574760    526376
15  16.0                     Odisha                          521275    487805
16  17.0                      Assam                               -    315881
17  18.0               Chhattisgarh                          329180    304063
18  19.0                  Jharkhand                          328598    297204
19  20.0                Uttarakhand                               -    245895
20  21.0            Jammu & Kashmir                               -    155956
21  22.0           Himachal Pradesh                          165472    153845
22  23.0                        Goa                           80449     73170
23  24.0                    Tripura                           55984     49845
24  25.0                 Chandigarh                               -     42114
25  26.0                 Puducherry                           38253     34433
26  27.0                  Meghalaya                           36572     33481
27  28.0                     Sikkim                           32496     28723
28  29.0                    Manipur                           31790     27870
29  30.0                   Nagaland                               -     27283
30  31.0          Arunachal Pradesh                               -     24603
31  32.0                    Mizoram                           26503     22287
32  33.0  Andaman & Nicobar Islands                               -         -
33   NaN                      India                        20351013  18886957

     Share GDP ($billion) GSDP (Cr INR at 2011-12 prices)
     18-19           2019                           19-20     18-19
0   13.94%        399.921                               -   2039074
1    8.63%        247.629                         1312929   1215307
2    8.39%        240.726                         1166817   1123982
3    7.96%        228.290                               -   1186379
4    7.91%        226.806                         1156039   1091077
5    5.77%        165.556                          793223    739525
6    4.99%        143.179                          711627    677428
7    4.57%        131.083                          672018    621301
8    4.56%        130.791                          663258    612828
9    4.29%        122.977                          561801    522009
10   4.14%        118.733                               -    559412
11   4.10%        117.703                          634408    590569
12   3.89%        111.519                          572240    531085
13   2.81%         80.562                          414977    375651
14   2.79%         79.957                          418868    397669
15   2.58%         74.098                          396499    376877
16   1.67%         47.982                               -    234048
17   1.61%         46.187                          243477    231182
18   1.57%         45.145                          240036    224986
19   1.30%         37.351                               -    193273
20   0.83%         23.690                               -    112755
21   0.81%         23.369                          124403    117851
22   0.39%         11.115                           63408     57787
23   0.26%          7.571                           40583     36963
24   0.22%          6.397                               -     31192
25   0.18%          5.230                           25093     23013
26   0.18%          5.086                           26695     24682
27   0.15%          4.363                           20017     18722
28   0.15%          4.233                           20673     19300
29   0.14%          4.144                               -     17647
30   0.13%          3.737                               -     16676
31   0.12%          3.385                           18797     16478
32       -              -                               -         -
33     NaN           2869                        14569268  14003316

### 5. Scrape the details of trending repositories on Github.com.
#### Url = https://github.com/
#### You have to find the following details:
#### A) Repository title
#### B) Repository description
#### C) Contributors count
#### D) Language used
#### Note: - From the home page you have to click on the trending option from Explore menu through code.

In [7]:
# Connecting to webdriver
driver = webdriver.Chrome(r'C:\FLIP ROBO\Crome Driver\chromedriver.exe')

# getting the webpage of mentioned url
url = "https://github.com/"
driver.get(url)

# Maximizing our window
driver.maximize_window()

In [8]:
# Source button/option
source = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]").click()

# selecting Trending option in dropdown
trending = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]").click()

In [9]:
# creating empty list
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []

In [10]:
# fetching urls
repository = driver.find_elements(By.XPATH,"//h1[@class='h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))
    
# Checking title data
title = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']")
for i in title:
    repository_title.append(i.text)
    
# all repositories information
for i in URLs:
    driver.get(i)
    time.sleep(5)
    
    # scraping Repository Description data 
    try:
        desc = driver.find_element(By.XPATH,'//*[@id="readme"]/div[2]/article/blockquote[1]')
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
        
    # scraping Contributors Count data
    try:
        contributor = driver.find_element(By.XPATH,"//*[contains(text(),'    Contributors ')]")
        Contributors.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
    
    
    # scraping Languages used data
    try:
        for i in driver.find_elements(By.XPATH,"//ul[@class= 'list-style-none']//li//span[1]"):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        Language.append('-')

In [11]:
# Creating DataFrame
Ghub = pd.DataFrame({})
Ghub['Repository Title'] = repository_title
Ghub['Repository Description'] = Description
Ghub['Contributors Count'] = Contributors
Ghub['Language Used'] = Language
Ghub

,Repository Title,Repository Description,Contributors Count,Language Used
0,fuergaosi233 / wechat-chatgpt,Use ChatGPT On Wechat via wechaty,12,"[TypeScript, Python, Dockerfile, Python, C, C+..."
1,acheong08 / ChatGPT,-,19,"[TypeScript, Python, Dockerfile, Python, C, C+..."
2,ggerganov / whisper.cpp,-,25,"[TypeScript, Python, Dockerfile, Python, C, C+..."
3,openai / whisper,-,31,"[TypeScript, Python, Dockerfile, Python, C, C+..."
4,bupticybee / ChineseAiDungeonChatGPT,-,3,"[TypeScript, Python, Dockerfile, Python, C, C+..."
5,android / architecture-templates,-,3,"[TypeScript, Python, Dockerfile, Python, C, C+..."
6,flutter / flutter,-,"1,113","[TypeScript, Python, Dockerfile, Python, C, C+..."
7,transitive-bullshit / chatgpt-api,Node.js client for the unofficial ChatGPT API.,30,"[TypeScript, Python, Dockerfile, Python, C, C+..."
8,rawandahmad698 / PyChatGPT,-,6,"[TypeScript, Python, Dockerfile, Python, C, C+..."
9,poteto / hiring-without-whiteboards,-,"1,005","[TypeScript, Python, Dockerfile, Python, C, C+..."
10,airbnb / lottie-ios,-,184,"[TypeScript, Python, Dockerfile, Python, C, C+..."
11,cpq / bare-metal-programming-guide,-,2,"[TypeScript, Python, Dockerfile, Python, C, C+..."
12,qunash / chatgpt-advanced,-,-,"[TypeScript, Python, Dockerfile, Python, C, C+..."
13,wong2 / chat-gpt-google-extension,-,7,"[TypeScript, Python, Dockerfile, Python, C, C+..."
14,humanloop / awesome-chatgpt,Curated list of resources for ChatGPT and GPT-...,3,"[TypeScript, Python, Dockerfile, Python, C, C+..."
15,microsoft / PowerToys,-,323,"[TypeScript, Python, Dockerfile, Python, C, C+..."
16,helix-editor / helix,NOTE: if HELIX_RUNTIME is set prior to calling...,415,"[TypeScript, Python, Dockerfile, Python, C, C+..."
17,sudoskys / Openaibot,-,2,"[TypeScript, Python, Dockerfile, Python, C, C+..."
18,Tencent / Hippy,The Hippy repository applies git-lfs to manage...,80,"[TypeScript, Python, Dockerfile, Python, C, C+..."
19,Netflix / conductor,-,202,"[TypeScript, Python, Dockerfile, Python, C, C+..."
20,labteral / chatgpt-python,"⚠️ Please, update the library. Note the chan...",3,"[TypeScript, Python, Dockerfile, Python, C, C+..."
21,f / awesome-chatgpt-prompts,i want you to act as a linux terminal. I will ...,7,"[TypeScript, Python, Dockerfile, Python, C, C+..."
22,microsoft / vscode,-,"1,760","[TypeScript, Python, Dockerfile, Python, C, C+..."
23,gorilla / mux,Important: there must be an OPTIONS method mat...,97,"[TypeScript, Python, Dockerfile, Python, C, C+..."
24,AutumnWhj / ChatGPT-wechat-bot,ChatGPT webchart bot is a WeChat assistant bas...,-,"[TypeScript, Python, Dockerfile, Python, C, C+..."

In [12]:
# Closing driver

driver.close()

### 6. Scrape the details of top 100 songs on billiboard.com.
#### Url = https:/www.billboard.com/
#### You have to find the following details:
#### A) Song name
#### B) Artist name
#### C) Last week rank
#### D) Peak rank
#### E) Weeks on board
#### Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [15]:
# Connecting to webdriver
driver = webdriver.Chrome(r'C:\FLIP ROBO\Crome Driver\chromedriver.exe')

# getting the webpage of mentioned url
url = 'https://www.billboard.com/'
driver.get(url)

# Maximizing our window
driver.maximize_window()

In [16]:


#serch button click
charts = driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]')
charts.click()
time.sleep(5)

In [18]:


#serch button click
top100 = driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a')
top100.click()

In [19]:
#extract the tag having song name
name = driver.find_elements (By.XPATH, '//div[@class="o-chart-results-list-row-container"]')
#to remove extra data other than output we required
Song_name = []
for i in name:
    Song_name.append(i.text.split('\n')[1])
    
#extract the tag having song name
artist = driver.find_elements (By.XPATH, '//div[@class="o-chart-results-list-row-container"]')
#to remove extra data other than output we required
Artist_name = []
for i in artist:
    Artist_name.append(i.text.split('\n')[2])
    
    
#extract the tag having song name
lwr = driver.find_elements (By.XPATH, '//div[@class="o-chart-results-list-row-container"]')
#to remove extra data other than output we required
Last_week_rank = []
for i in lwr:
    Last_week_rank.append(i.text.split('\n')[3])


#extract the tag having song name
pr = driver.find_elements (By.XPATH, '//div[@class="o-chart-results-list-row-container"]')
#to remove extra data other than output we required
Peak_rank = []
for i in pr:
    Peak_rank.append(i.text.split('\n')[4])

    
#extract the tag having song name
wob = driver.find_elements (By.XPATH, '//div[@class="o-chart-results-list-row-container"]')
#to remove extra data other than output we required
Weeks_on_board = []
for i in wob:
    Weeks_on_board.append(i.text.split('\n')[5])

In [20]:
songs = pd.DataFrame({})
songs['Name of Song'] = Song_name
songs['Name of Artist'] = Artist_name
songs['Last week Rank'] = Last_week_rank
songs['Peak Rank'] = Peak_rank
songs['Weeks on Baord'] = Weeks_on_board
songs

,Name of Song,Name of Artist,Last week Rank,Peak Rank,Weeks on Baord
0,Anti-Hero,Taylor Swift,1,1,6
1,All I Want For Christmas Is You,Mariah Carey,5,1,54
2,Rockin' Around The Christmas Tree,Brenda Lee,6,2,48
3,Unholy,Sam Smith & Kim Petras,3,1,10
4,Jingle Bell Rock,Bobby Helms,9,3,45
...,...,...,...,...,...
95,NEW,Someday At Christmas,Lizzo,-,96
96,Vigilante Shit,Taylor Swift,73,10,6
97,RE- ENTRY,Forget Me,Lewis Capaldi,-,95
98,"Going, Going, Gone",Luke Combs,98,98,3
99,Miss You,Oliver Tree & Robin Schulz,91,84,6

### 7. Scrape the details of Data science recruiters from naukri.com.
#### Url = https://www.naukri.com/
#### You have to find the following details:
#### A) Name
#### B) Designation
#### C) Company
#### D) Skills they hire for
#### E) Location
#### Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [3]:
# Connecting to webdriver
driver = webdriver.Chrome(r'C:\FLIP ROBO\Crome Driver\chromedriver.exe')

# getting the webpage of mentioned url
url = 'http://www.naukri.com/'
driver.get(url)

# Maximizing our window
driver.maximize_window()

In [4]:
site_map = driver.find_element(By.XPATH, '//*[@id="root"]/footer/section[1]/div/div/div[2]/ul/li[4]').click()

In [6]:
recuiter = driver.find_element(By.XPATH, '/html/body/div[1]/div/ul/li[2]').click()

In [10]:
search = driver.find_element(By.XPATH, '//*[@id="skill"]/div[1]/div[2]').click()

In [11]:
search_j = driver.find_element(By.CLASS_NAME, 'sugInp')
search_j.send_keys("Data Scientist")

In [12]:
search_click = driver.find_element (By.XPATH, '//*[@id="qsbFormBtn"]').click()

In [17]:
Name = []
name = driver.find_elements (By.XPATH, '//span[@class="fl ellipsis"]')
for i in name:
    Name.append(i.text)
    
Designation = []
des = driver.find_elements(By.XPATH, '//span[@class="ellipsis clr"]')
for i in des:
    Designation.append(i.text)

Company = []
comp = driver.find_elements (By.XPATH, '//span[@class="ellipsis clr"]')
for i in comp:
    Company.append(i.text)

Skills_they_hire_for = []
skill = driver.find_elements (By.XPATH, '//div[@class="hireSec highlightable"]')
for i in skill:
    Skills_they_hire_for.append(i.text)
    
Location = []
for i in driver.find_elements(By.XPATH, '//small[@class="ellipsis"]'):
    try:
        if i.text == '': raise NoSuchElementException
        Location.append(i.text)
    except NoSuchElementException:
        Location.append('-')

In [18]:
naukri = pd.DataFrame({})
naukri['Name'] = Name
naukri['Designation'] = Designation
naukri['Company'] = Company
naukri['Skills they hire for'] = Skills_they_hire_for
naukri['Location'] = Location 
naukri

,Name,Designation,Company,Skills they hire for,Location
0,Arya,Human Resources Manager,Human Resources Manager,"Artificial Intelligence, Deep Learning, Machin...",Mumbai
1,Wibo,Company Recruiter,Company Recruiter,"Software Testing, Software Development, Big Da...",Mumbai
2,Ritvvij Parrikh,CEO,CEO,"Javascript, React.js, Data Science, Machine Le...",Mumbai
3,Tanuj Srivastava,Company Recruiter,Company Recruiter,Not Specified,Delhi
4,TerraBlue XT,HR manager,HR manager,"Java, SQL, Algorithms, Python, Data Mining, R,...",Bengaluru / Bangalore
5,Trapti,Company Recruiter,Company Recruiter,Not Specified,Jaipur
6,RAHUL CHOUDHARI,CEO,CEO,"Java, PHP, Web Development, Web Designing, Web...",Pune
7,Rubina Naseem,Company Recruiter,Company Recruiter,Not Specified,Bengaluru / Bangalore
8,Adcuratio Media,Operation Executive,Operation Executive,"python, django, aws, Data Analytics, Full Stac...",Bengaluru / Bangalore
9,sashi bhushan,Senior Specialist,Senior Specialist,"pig, hbase, sas, spss, apache, python, nosql, ...",Bengaluru / Bangalore
10,Ranjit R,Director,Director,"Business Analytics, Big Data Analytics, Hadoop...",Hyderabad / Secunderabad
11,Gajendra Singh,Head of Recruitment - Product &amp;...,Head of Recruitment - Product &amp;...,"Data Scientist, Big Data, Hadoop, Web Analytic...",Noida
12,Komal Sukhani,Human Resource Executive,Human Resource Executive,"Asp.net, Asp.net Mvc, .Net, .Net Core, Angular...",Gandhinagar
13,Recruitment Team Telamon HR,Consultant,Consultant,"Software Enginner, manager, Solution Architect...",Bengaluru / Bangalore
14,Riya Arora,Hiring Manager,Hiring Manager,Not Specified,Hyderabad
15,Rajiv Ranjan,Company HR,Company HR,Not Specified,Noida
16,Kashyap Ramananda,Executive HR,Executive HR,"Business Development, Account Management, Sale...",Hyderabad / Secunderabad
17,Pooja,HR Representative,HR Representative,Not Specified,Noida
18,Mallesh Bommanahal,Director &amp; CEO,Director &amp; CEO,Not Specified,Mumbai
19,Siva Prakash,Sr Recruiting Scientist,Sr Recruiting Scientist,Not Specified,Bengaluru / Bangalore
20,Jyoti Kumari,Sr Consultant,Sr Consultant,Not Specified,Bengaluru / Bangalore
21,abhinaya,Company HR,Company HR,Not Specified,Chennai
22,SESHA MUNUKUTLA,Company HR,Company HR,Not Specified,Visakhapatnam
23,Thejus,Recruiter,Recruiter,Not Specified,Bengaluru / Bangalore
24,Pooja,Recruitment Consultant,Recruitment Consultant,Not Specified,Mumbai
25,Kunal Kumar,Head,Head,Not Specified,Pune
26,Priyadarshini Srinivasan,Recruitment Consultant,Recruitment Consultant,Not Specified,Mumbai
27,Rajini,CEO,CEO,Not Specified,Bengaluru / Bangalore
28,Nidhi Tiwari,Recruitment Specialist,Recruitment Specialist,Not Specified,Noida
29,charu,Recruitment Consultant,Recruitment Consultant,Not Specified,Delhi
30,V Quotient,Consultant,Consultant,Not Specified,Delhi
31,Krishna Sain,Company Recruiter,Company Recruiter,"Data Science, Big Data, Big Data Analytics",Bengaluru / Bangalore
32,HR FARMGUIDE,Manager Talent Acquisition,Manager Talent Acquisition,Not Specified,Gurgaon
33,George,IT Recruiter,IT Recruiter,Not Specified,Kochi
34,Tanushree,Lead Recruiter,Lead Recruiter,"UI Developers, Software Engineers, Quality Ass...",Noida
35,Bitapi,HR and Operation Manager,HR and Operation Manager,"Hadoop, Big Data, Data Scientists, Java, Sprin...",Bengaluru / Bangalore
36,Sadashiv Kulkarni,Company HR,Company HR,"Big Data Engineer, Data Scientist, Solutions, ...",Pune
37,Invelopment,Company HR,Company HR,Scandinavian Startups,Ahmedabad
38,Anjali Srivastava,Director HR,Director HR,"Technical, Business Development Executive, Sof...",Noida
39,Helly Vyas,HR Business Partner,HR Business Partner,"Big Data technology, PLSQL, Web Developer, Jav...",Pune
40,Ashish Verma,Senior Associate Human Resources,Senior Associate Human Resources,"SAS, VBA, Business Information Services(BIS), ...",Gurgaon
41,Shiva Kumar N,Founder,Founder,"salaesforce, Web Technologies, .net, .net full...",Bengaluru / Bangalore
42,Balaji Prabhakaran,Company Recruiter,Company Recruiter,"Technical Solution Architect, Data Scientist, ...",Chennai
43,Bhuwneshari Devi,Lead Talent Acquisition,Lead Talent Acquisition,"Amazon, Olacabs, Quikr, Bankbazzar, Uber, Flip...",Delhi
44,Kalaivani M V,HR Manager,HR Manager,"Data Scientist, Cloud Computing, Mobile Applic...",Chennai
45,HS Sandesh,Talent Evangelist www staffiohr co,Talent Evangelist www staffiohr co,"Digital Marketing, General Manager, Business D...",Bengaluru / Bangalore
46,Anoop Somarajan,Manager - Talent Acquisition,Manager - Talent Acquisition,"Asp.net, Hl7, Mirth, Perl, Xamarin, Javascript...",Chennai
47,Datafoundry,Company HR,Company HR,"Webmethods Developer, Mean Stack, Business Ana...",Bengaluru / Bangalore
48,A Valsa Florina,Recruitment Specialist,Recruitment Specialist,"Business Analyst, Front end developer, legal, ...",Bengaluru / Bangalore

### 8. Scrape the details of Highest selling novels.
#### Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
#### You have to find the following details:
#### A) Book name
#### B) Author name
#### C) Volumes sold
#### D) Publisher
#### E) Genre


#### Note - I have updated the link as previous link was out of data or location has been changed.

In [19]:
# Connecting to webdriver
driver = webdriver.Chrome(r'C:\FLIP ROBO\Crome Driver\chromedriver.exe')

# getting the webpage of mentioned url
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

# Maximizing our window
driver.maximize_window()

In [35]:
table = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
df_table = pd.read_html(table)

In [22]:
# Finally geeting information and converting web table to DataFrame
A = df_table [0]  # taken [0] as there are 2 tables on the page and our data is on second table

In [29]:
# Sorting required columns
A_columns = ['Rank', 'Title', 'Author', 'Volume Sales', 'Publisher', 'Genre']

# Making copy of our original data frame
A = A [A_columns].copy()

# Renaming columns as per above question

Books = A.rename ({'Rank':'Rank', 'Title':'Book Name', 'Author':'Author Name', 
                     'Volumne Sales': 'Volumes sold', 'Publisher':'Publisher', 'Genre':'Genre'}, axis = 1)

In [30]:
Books

,Rank,Book Name,Author Name,Volume Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan",5094805,Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.",4475152,Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",4200654,Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",4179479,Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.",3758936,Random House,Romance & Sagas
...,...,...,...,...,...,...
96,97,Happy Days with the Naked Chef,"Oliver, Jamie",794201,Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne",792187,Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave",791507,Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",791095,Penguin,Food & Drink: General
100,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN,SOURCE: NIELSEN BOOK SCAN

### 9. Scrape the details most watched tv series of all time from imdb.com.
#### Url = https://www.imdb.com/list/ls095964455/
#### You have to find the following details:
#### A) Name
#### B) Year span
#### C) Genre
#### D) Run time
#### E) Ratings
#### F) Votes

In [31]:
# Connecting to webdriver
driver = webdriver.Chrome(r'C:\FLIP ROBO\Crome Driver\chromedriver.exe')

# getting the webpage of mentioned url
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)

# Maximizing our window
driver.maximize_window()

In [32]:
#A) Name
#B) Year span
#C) Genre
#D) Run time
#E) Ratings
#F) Votes

#extract the tag having Name
name = driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']//a")
#to remove extra data other than output we required
Name=[]
for i in name:
    Name.append(i.text)

#extract the tag having year span
year = driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']")
#to remove extra data other than output we required
Year_Span=[]
for i in year:
    Year_Span.append(i.text)

#extract the tag having Genre
genre = driver.find_elements(By.XPATH,"//span[@class='genre']")
#to remove extra data other than output we required
Genre=[]
for i in genre:
    Genre.append(i.text)

#extract the tag having run time
run = driver.find_elements(By.XPATH,"//span[@class='runtime']")
#to remove extra data other than output we required
Run_Time=[]
for i in run:
    Run_Time.append(i.text)

#extract the tag having ratings
ratings = driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']")
#to remove extra data other than output we required
Ratings=[]
for i in ratings:
    Ratings.append(i.text)

#extract the tag having voting
voting = driver.find_elements(By.XPATH, "//span[@name='nv']")
#to remove extra data other than output we required
Voting=[]
for i in voting:
    Voting.append(i.text)

In [33]:
# Creating DataFrame
netflix = pd.DataFrame({})
netflix['Name'] = Name
netflix['Year Span'] = Year_Span
netflix['Genre'] = Genre
netflix['Ratings'] = Ratings
netflix['Voting'] = Voting 
netflix

,Name,Year Span,Genre,Ratings,Voting
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",9.2,"2,091,066"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",8.7,"1,180,538"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.1,"989,510"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",7.5,"292,970"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",7.6,"252,129"
...,...,...,...,...,...
95,Reign,(2013–2017),Drama,7.4,"50,206"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",7.8,"61,510"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",8.1,"198,499"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",7.1,"41,589"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",8.6,"245,402"

### 10. Details of Datasets from UCI machine learning repositories.
#### Url = https://archive.ics.uci.edu/
#### You have to find the following details:
#### A) Dataset name
#### B) Data type
#### C) Task
#### D) Attribute type
#### E) No of instances
#### F) No of attribute
#### G) Year
#### Note: - from the home page you have to go to the ShowAllDataset page through code

In [36]:
# Connecting to webdriver
driver = webdriver.Chrome(r'C:\FLIP ROBO\Crome Driver\chromedriver.exe')

# getting the webpage of mentioned url
url = 'https://archive.ics.uci.edu/'
driver.get(url)

# Maximizing our window
driver.maximize_window()

In [37]:
dataset_button = driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]/a")
dataset_button.click()

In [38]:
#extract the tag having dataset Name
name = driver.find_elements(By.XPATH,"//td[@valign='top']//a")
#to remove extra data other than output we required
Dataset_Name=[]
for i in name:
    Dataset_Name.append(i.text)
Dataset_name = []
for i in Dataset_Name[44: :2]:
    Dataset_name.append(i)

In [39]:
#extract the tag having dataset Name
datat = driver.find_elements(By.XPATH,"//td[@valign='top']//p")
#to remove extra data other than output we required
Data_type=[]
for i in datat:
    Data_type.append(i.text)

Data_Type=[]
for i in Data_type[25: :7]:
    Data_Type.append(i)

In [40]:
#extract the tag having dataset Name
task = driver.find_elements(By.XPATH,"//td[@valign='top']//p")
#to remove extra data other than output we required
Task=[]
for i in task:
    Task.append(i.text)

TASK=[]
for i in Task[26: :7]:
    TASK.append(i)

Attribute_Type=[]
for i in Data_type[27: :7]:
    Attribute_Type.append(i)
    
Instances = []
for i in Data_type[28: :7]:
    Instances.append(i)
    
Attribute=[]
for i in Data_type[29: :7]:
    Attribute.append(i)
    
Year=[]
for i in Data_type[30: :7]:
    Year.append(i)

In [41]:
# Making DataFrame
ML_Repositories = pd.DataFrame({})
ML_Repositories['Dataset_name']= Dataset_name
ML_Repositories['Data_Type'] = Data_Type
ML_Repositories['Task'] = TASK 
ML_Repositories['Attribute_Type'] = Attribute_Type
ML_Repositories['Instances'] = Instances 
ML_Repositories['Attribute'] = Attribute 
ML_Repositories['Year'] = Year
ML_Repositories

,Dataset_name,Data_Type,Task,Attribute_Type,Instances,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021